:root {
    /* primary */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /* neutral */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    font-size: 10px;
    margin-top: 50px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--Cream);
}

.main-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.image-mobile {
    display: none;
}
.image-desktop {
    width: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
   height: auto;
   
}

.container {
    background-color: var(--White);
    border-radius: 15px;
    width: 90rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    
}


.perfume {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    letter-spacing: 0.5rem;
    margin-left: 0px;
}

.main-content h2 {
    font-family: 'Fraunces', sans-serif;
    color: var(--Very-dark-blue);
    font-weight: 700;
    font-size: 4.6rem;
    letter-spacing: 2px;
    line-height: 1.1;
    margin-left: 0;
}

.main-content:last-child {
    padding-bottom: 0;
}

.sentence {
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    line-height: 2;
    margin-bottom: 15px;
    font-size: 2rem;
}

.button-sec {
    background-color: var(--Dark-cyan);
    padding: 1.5rem 11rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    border-style: none;
    color: var(--White);
    font-size: 2rem;
    font-weight: 500;
    background-color: unset;
    width:100%;
}

.button-sec:active,
.button-sec:hover {
    background-color: var(--Very-dark-blue);
}

.prices {
   
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 0;
    /* margin-bottom: 10px; */
}

.price2 {
    opacity: 50%;
    text-decoration: line-through;
    font-size: 1.6rem;
}

.price1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 4.8rem;
    color: var(--Dark-cyan)
}

.attribution {
    display: none;
    font-size: 1.1rem ;
    text-align: center;
    margin: 1rem 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
    font-size: 1.3rem;
    transition: all 0.3s;
}

/* MEDIA QUERIES */
 

@media screen and (max-width:576px) {
    html{
        font-size: 8px;
    }
    .image-desktop {
        display: none;
    }
    .image-mobile {
        display: block;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .container {
        width: 40rem;
        display: grid;
        grid-template-columns: none;
        margin: 1rem auto;
    }

    .result-head {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    .main-content{
        padding: 2rem;
        gap: 2rem;
    
    }
    .main-content h2{
        font-size: 4rem;
    }
    .button{
        font-size:1.4rem ;
    }
    .price1{
        font-size: 3.5rem;
    }
    .prices{
        gap: 1rem;
    }
}
